html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgba(231, 231, 231, 0.92);
    display: flex;
    flex-direction: row;
}

body aside {
    height: calc(100% + 55px);
    background-color: #464646;
    color: snow;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
}

body aside ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

body aside ul li {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
}

body aside ul li:hover {
    background-color: #323232;
    border-left: 4px solid #AEAEAE;
}

body main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body main header {
    height: 55px;
    z-index: 1;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20);
}


h1 {
    margin: 0;
    padding-top: 10px;
    font-weight: lighter;
}

h2 {
    margin: 0;
    padding-left: 10px;
    font-weight: lighter;
}

h3 {
    margin: 0;
    padding: 10px;
    font-weight: lighter;
}

.contentx {
    display: none;
    flex: 1;
    transition: all 1s linear;
}

.active {
    display: block !important;
    width: 100%;

}

a {
    text-decoration: none;
    color: white;

}

#insertDriverForm {
    width: 100%;
    height: 100%;
}

#insertDriverForm div {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 80%;
}

#insertDriverForm div input {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 14px;
}

.firstGroup {
    display: flex;
    flex-direction: column;
}

body div form div section #fullName {
    width: 250px;
}

#insertDriverForm div section .smallerField {
    width: 105px;
    padding-left: 6px;
}

body div form div #houseNumber {
    width: 50px;
}

input#insertDriver {
    height: 40px;
    background-color: gray;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
}


.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

div#userList {
    height: 100%;
    background-color: rgba(170, 170, 170, .6);
    box-shadow: 0px 1px 1px 0px;
    z-index: 1;

}

.drivers {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 10px 20px;
    cursor: pointer;

}

.driverInfo {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 5px;
}

.driverHeader {
    height: 120px;
    display: none;
}

.driverHeader > div {
    background-color: yellowgreen;
    display: flex;
    height: inherit;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.driverText {
    height: 100%;
}

.disclaimer {
    height: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid gainsboro;
    background-color: floralwhite !important;
    box-shadow: 0 1px 4px -1px;
    border-radius: 2px;
}

.driverFeed {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.driverAlerts {
    background-color: #ECF0F2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.driverMap {
    background-color: rgba(0, 0, 0, .1);
    height: 100%;
}

.alertList {
    height: 65px;
    border: 1px solid lightgray;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 5px;
}

div.col-12.alertList > div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 5px 0;
}

.alertList button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ECF0F2;
    outline: none;
}

.alertList:active {
    box-shadow: 1px 1px 1px 1px black;
}

#sendTripForm {
   width: 50%;
   /*height: 100%;*/
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   padding-top: 10px;
}

#sendTripForm div input {
    width: 150px;
    height: 30px;
}

.tripPaymentInfo {
    display: flex;
    flex-direction: column;

}

#tripInfo {
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border: none;
}

#userList > div > div.drivers:hover {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}


.name-disclaimer {

}

.active-trip {
    position: relative;
    background-color: rgba(173, 255, 47, 0.40);
}

.account-disclaimer {
    font-size: 10px;
}

.driver-pic {
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 1px 1px 1px;
}

.img-holder {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    background-image: url("./close.svg");
}

@media only screen and (max-width: 640px) {
    aside {
        display: none !important;
    }
}


#popup {
    display: none;
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 10;
    background: ghostwhite;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 5px;
    color: black;
    margin: auto;
    left: 0;
    right: 0;
}