html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgba(231, 231, 231, 0.92);
    display: flex;
    flex-direction: row;
}

body aside {
    width: 200px;
    height: 100%;
    background-color: #464646;
    color: snow;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

body aside ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

body aside ul li {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
}

body aside ul li:hover {
    background-color: #323232;
    border-left: 4px solid #AEAEAE;
}

body main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body main header {
    height: 55px;
    border-radius: 2px;
    background-color: #ECF0F2;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20);
}


h1 {
    margin: 0;
    padding-top: 10px;
    font-weight: lighter;
}

h2 {
    margin: 0;
    padding: 10px;
    font-weight: lighter;
}

h3 {
    margin: 0;
    padding: 10px;
    font-weight: lighter;
}

.contentx {
    display: none;
    flex: 1;
    transition: all 1s linear;
}

.active {
    display: block !important;
    width: 100%;

}

a {
    text-decoration: none;
    color: white;

}

#insertDriverForm {
    width: 100%;
    height: 100%;
}

#insertDriverForm div {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 80%;
}

#insertDriverForm div input {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 14px;
}

.firstGroup {
    display: flex;
    flex-direction: column;
}

body div form div section #fullName {
    width: 250px;
}

#insertDriverForm div section .smallerField {
    width: 105px;
    padding-left: 6px;
}

body div form div #houseNumber {
    width: 50px;
}

input#insertDriver {
    height: 40px;
    background-color: gray;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
}


.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

div#userList {
    height: 100%;
    background-color: rgb(170, 170, 170);

}

.drivers {
    display: flex;
    flex-direction: row;

}

.driverInfo {
    display: flex;
    flex-direction: column;
}

.driverHeader {
    background-color: #ECF0F2;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.driverText {
    background-color: #ECF0F2;
    height: 100%;
}

.driverFeed {
    background-color: #ECF0F2;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.driverAlerts {
    background-color: #ECF0F2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.driverMap {
    background-color: pink;
    height: 100%;
}

.alertList {
    height: 40px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.alertList button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ECF0F2;
    outline: none;
}

.alertList:active {
    box-shadow: 1px 1px 1px 1px black;
}

#sendTripForm {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   padding-top: 10px;
}

#sendTripForm div input {
    width: 150px;
    height: 30px;
}

.tripPaymentInfo {
    display: flex;
    flex-direction: column;

}

#tripInfo {
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border: none;
}
