<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Aléxia Balionis">
        <meta name="description" content="Hackathon Project">
        <title>Hackathon Matera - Console</title>
        <link rel="stylesheet" href="../styles/console.style.css" media="screen" title="no title">
        <style>@import url('https://fonts.googleapis.com/css?family=Lato:300,400');</style>
    </head>
    <body>
        <aside>
            <h1>Console</h1>
            <ul>
                <li>
                    Dashboard
                </li>
                <li>
                    Link 2
                </li>
                <li>
                    Link 3
                </li>
            </ul>

        </aside>

        <main>
            <header>
                <h2>Dashboard</h2>
            </header>
        </main>


        <h1></h1>
    </body>
</html>
