<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Aléxia Balionis">
        <meta name="description" content="Hackathon Project">
        <title>Hackathon Matera - Console</title>
        <link rel="stylesheet" href="../styles/console.style.css" media="screen" title="no title">
        <style>@import url('https://fonts.googleapis.com/css?family=Lato:300,400');</style>
    </head>
    <body>
        <aside>
            <h1>Console</h1>
            <ul>
                <li>
                    <a href="#" data-tab="1" class="tab active">Dashboard</a>
                </li>
                <li>
                    <a href="#" data-tab="2" class="tab">Cadastro Motoristas</a>
                </li>
                <li>
                    Cadastro Postos
                </li>
            </ul>

        </aside>

        <main id="tst">
            <div data-content="1" class="contentx active">
                <header>
                    <h2>Dashboard</h2>
                </header>
            </div>

            <div data-content="2" class="contentx">
                <header>
                    <h2>Cadastro</h2>
                </header>
                <form id="insertDriverForm">
                    <div>
                        <label for="driverName">Nome:</label>
                        <input type="text" name="driverName" id="driverName" />
                    </div>
                    <input type="submit" value="Cadastrar" id="insertDriver" />
                </form>
            </div>

        </main>

        <script async src="../dist/main.console.min.js"></script>
    </body>
</html>
